@import "../../styles/variables";
@import "../../styles/mixin";

.btn {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  line-height: $line-wh;
  cursor: pointer;
  border-radius: $border-radius;
  margin-bottom: 1px;
  margin-left: 1px;
  font-family: $font-family;
  display: inline-flex;
  align-items: center;
  border: none;

  .icon {
    margin-right: 5px;
  }
}

.btn-add {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;

  &:hover {
    color: #fff;
    background-color: #449d44;
    border-color: $primary-color;
  }
}

.btn-delete {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;

  &:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: $danger-color;
  }
}

.btn-title {
  @include font-size(1)
}
