@import "../styles/variables";

.table-wrapper {
  margin: 20px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  background-color: #fff;
  border: 1px solid #eceeef;

  tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  thead th td {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    border-bottom-width: 2px;
  }

  th,
  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border: 1px solid #dee2e6;
    text-align: center;
  }

  tbody {
    border-top: 2px solid #dee2e6;
  }
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
  border: 0;
}

@media screen and (max-width: 800px) {
  tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    border-bottom: 2px solid rgb(255, 252, 252);
  }
  td,
  th {
    flex: 1 1 150px;
    border-bottom: 2px solid rgb(255, 252, 252);
  }
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    border: 1px solid rgb(255, 252, 252);
  }
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.btn-edit {
  path {
    background-color: orange;
    background-image: orange;
    background: orange;

    &:hover {
      background-color: blue;
    }
  }
}
