@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$font-family: "Roboto", sans-serif;
$bg-color: #fff;
$header-bg-color: #435d7d;
$light-color: #fff;
$primary-color: #5cb85c;
$secondary-color: #999696e8;
$danger-color: #c9302c;
$warn-color: #ffa500;
$line-wh: 1.4;
$border-color: #ddd;
$border-radius: 3px 3px 0 0;
